# Indicates that this is the main .editorconfig file
root = true

# Global configuration for all files
[*]
charset                     = utf-8
indent_style                = space
indent_size                 = 4
tab_width                   = 4
end_of_line                 = lf
max_line_length             = 120
insert_final_newline        = true
trim_trailing_whitespace    = true
ij_continuation_indent_size = 4
ij_visual_guides            = 80, 120
ij_smart_tabs               = true
ij_wrap_on_typing           = true

# Specific configuration for PHP (following Symfony standards)
[*.php]
ij_php_align_assignments                   = false
ij_php_align_key_value_pairs               = false
ij_php_blank_lines_after_imports           = 1
ij_php_blank_lines_after_opening_tag       = 0
ij_php_blank_lines_before_return_statement = 1
ij_php_comma_after_last_array_element      = true
ij_php_force_short_declaration_array_style = true
ij_php_phpdoc_blank_line_before_tags       = true
ij_php_phpdoc_keep_blank_lines             = true
ij_php_spaces_around_pipe_in_union_type    = true

# Configuration for YAML files (common in Symfony projects)
[{compose*.{yml,yaml},.github/workflows/*.{yml,yaml}}]
indent_size = 2

# Configuration for JSON and XML files
[*.{json,xml}]
indent_size = 2

# Configuration for Twig files
[*.twig]
indent_size = 2

# Configuration for Markdown files
[*.{md,md.dist}]
trim_trailing_whitespace = false
max_line_length          = off

# Configuration for test files
[*.test]
insert_final_newline     = false
trim_trailing_whitespace = false
